<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @monkey.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @monkey.age %>
</p>

<%= link_to 'Edit', edit_monkey_path(@monkey) %> |
<%= link_to 'Back', monkeys_path %>
